

<h2>@ViewBag.Integrante.getNombre()</h2>
<div class = "DNIedad">
<p >DNI : @ViewBag.Integrante.getDni()</p>
<p>Edad : @ViewBag.Integrante.calcularEdad()</p>
</div>

<div class = "FyI">
<p>Familiares </p>
<ul >
@foreach (string familiar in ViewBag.Integrante.getFamiliares()){
    <li>@familiar</li>
}
</ul>
</p>
<p>Intereses </p>
<p>
<ul>
@foreach (string interes in ViewBag.Integrante.getIntereses()){
    <li>@interes</li>
}
</ul>
</p>
</div>
<p class ="link">
<a  href='@Url.Action("Index", "Home")'>Volver a Index</a>
</p>